* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.banner {
  margin: 0;
  padding-top: 24px;
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: bisque;
  background-image: url(../images/donation1.jpg);
  background-size: cover;
  margin-bottom: 30px;
}

.banner-title {
  color: aliceblue;
}

.banner-description {
  color: aliceblue;
}

.btn-primary {
  color: #fafafa;
  background-color: orangered;
  border: 0;
  padding: o;
  height: 30px;
}

.donate-section {
  margin: auto;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.donate {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.donate-today-price {
  justify-content: space-around;
  text-decoration: darkslategrey;
  text-align: center;
  display: flex;
  background: #fafafa;
  border-radius: 5px;
}

.box-price {
  gap: 75px;
  display: flex;
  font-weight: 700;
  font-size: 30px;
}

.box-color {
  border: solid 2px red;
  border: 2px solid #ff5959;
  border-radius: 5px;
  background: #ffeeee;
  width: 136px;
  height: 123px;
  left: 489px;
  top: 979px;
}

.box-down {
  margin-top: 24px;
  margin-bottom: 24px;
}

.donate-plane {
  text-align: center;
}

.donate-title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.food-container {
  display: flex;
  justify-content: space-evenly;
}
.food-family {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}
.food {
  border-radius: 20px;
  width: 26%;
  padding: 20px;
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}
.food h2 {
  font-size: 18px;
  padding: 20px 0 20px 0;
}
.food p {
  font-size: 14px;
}
/* section depend */

.depend {
  display: flex;
  justify-content: center;
}

.depend-man {
  height: 200px;
  width: 300px;
  padding: 20px;
}
/* servive styles */
.servive {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.servive-all {
  height: 200px;
  width: 300px;
  padding: 20px;
}
/* section update styles */
.update{
  margin-top: 20px;
  text-align: center;
}
.contact{
  padding-top: 20px;
  background: #FFF8F3;
  width: 500px;
  height: 200px;
  justify-content: center;
}
.form-2{
  text-align: center;
}